@small: ~'(max-width: 500px)';

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
	background: #333;
	font-family: 'Open Sans', 'Helvetica', 'Sans Serif';
}

body {
	background-image: url('../img/CHOKLADBOLLAR.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

h1 {
	font-size: 50px;
	line-height: 1.4;
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0 0 50px 0;
	padding: 0;
}

h3 {
	font-size: 24px;
}

a {
	color: #fff;
	font-weight: 700;
	font-style: normal;
	margin-top: 15px;
	display: inline-block;
	text-decoration: none;
}

.strikethrough {
	text-decoration: line-through;
	opacity: 0.5;
}

.content {
	position: relative;
	z-index: 1;
	color: #fff;
	text-align: center;
	padding: 70px 0;
	max-width: 960px;
	margin: 0 auto;

	@media @small {
		padding: 30px 10px;
	}

	&.hero {
		height: 95%;
		max-width: 100%;
		padding: 0;
		text-shadow: 0 0 25px rgba(0,0,0,0.5);

		@media @small {
			height: auto;
		}

		.fb_iframe_widget {
			display: block;
			text-align: left;
			padding: 10px 0 0 10px;
		}

		h1 {
			display: inline;
			font-size: 80px;
			word-break: break-word;

			@media @small {
				font-size: 24px;
				line-height: 60px;
			}
		}

		.ad {
			max-width: 728px;
			height: 90px;

			@media @small {
				max-width: 100%;
				height: auto;
			}
		}

		.down {
			opacity: 0.6;

			&:hover {
				opacity: 1;
			}
		}

		.inner {
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);

			@media @small {
				padding-top: 50px;
				position: static;
				top: 0;
				-webkit-transform: translateY(0);
				-moz-transform: translateY(0);
				-ms-transform: translateY(0);
				transform: translateY(0);
			}
		}
	}
}

.ad {
	max-width: 960px;
	margin: 20px auto 0 auto;

	@media @small {
		max-width: 100%;
		overflow: hidden;
	}
}

.quote {
	font-size: 20px;
	text-shadow: none;
	font-style: italic;
	width: 100%;
	margin: 40px 0 0 0;
	text-align: right;

	iframe {
		max-width: 100%;

		@media @small {
			height: 150px;
		}
	}

	.quote-content {
		background: rgba(255,255,255,0.2);
		text-align: left;
		border-radius: 4px;
		position: relative;

		&.text {
			padding: 16px 24px 20px 24px;
		}

		&.video {
			padding: 16px;
		}

		&:after {
			content: '';
			width: 0;
			height: 0;
			border: 20px solid transparent;
			border-right-width: 2px;
			border-top-width: 15px;
			position: absolute;
			display: block;
			border-top-color: rgba(255,255,255,0.2);
			top: 100%;
			right: 50px;
		}
	}
}

.sources {
	background: #1d0a04;
}

.recipe {
	overflow: hidden;
	padding: 40px 0 80px 0;
	background: #eee;

	.content {
		text-align: left;
		color: #222;
		padding: 0;

		@media @small {
			padding: 0 10px;
		}

		h1 {
			font-size: 50px;
			clear: both;
			line-height: 1.4;

			@media @small {
				font-size: 24px;
				line-height: 1.2;
			}
		}

		a {
			color: #222;
		}
	}

	ul, ol {
		margin: 0;
		padding: 0 0 0 20px;
	}

	.ingredients {
		width: 25%;
		float: left;

		@media @small {
			float: none;
			width: 100%;
		}
	}

	.procedure {
		width: 75%;
		float: left;
		padding-left: 20px;

		@media @small {
			float: none;
			width: 100%;
			padding: 0;
		}
	}
}

.tasty {
	background: #fff;

	.content.preamble {
		text-align: left;
		color: #333;
		padding: 40px 0;

		@media @small {
			padding: 30px 10px;
		}

		h1 {
			font-size: 50px;
			line-height: 1.4;

			@media @small {
				font-size: 24px;
				margin-bottom: 20px;
			}
		}

		p {
			margin: 0;
		}

		a {
			color: #333;
		}
	}

	.instagrid {
		overflow: auto;
		.instagram-image {
			display: block;
			width: 100% / 5;
			float: left;
			margin: 0;

			@media @small {
				width: 100% / 3;
			}

			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}
	}
}

.footer {
	background: #1d0a04;

	.content {
		color: #aaa;
		padding: 20px 0 40px 0;
	}
}